{% extends "base.html" %}

{% block title %}Gestión de Usuarios{% endblock %}

{% block content %}
<h1>Gestión de Usuarios</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['username'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['role'] }}</td>
            <td>
                {% if user['suspended']|int == 1 %}

                <span style="color: red; font-weight: bold;">Suspendido</span>
                {% else %}
                <span style="color: green; font-weight: bold;">Activo</span>
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('edit_user', id=user['id']) }}" class="btn btn-edit">Editar</a>


                <form action="{{ url_for('suspend_user', id=user['id']) }}" method="POST" style="display:inline;">
                    {% if user['suspended'] == 0 %}
                    <button type="submit" class="btn btn-suspend confirm-suspend">Suspender</button>
                    {% else %}
                    <button type="submit" class="btn btn-activate confirm-suspend">Activar</button>
                    {% endif %}
                </form>



                <form action="{{ url_for('delete_user', id=user['id']) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-delete confirm-delete">Eliminar</button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}